/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LUCC CELL SNP PIPELINE - CONFIG FILE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// ===================== info =====================
manifest {
    name            = 'lucc-cell-snp'
    author          = 'lucc'
    version         = '1.0.0'
    description     = 'LUCC Cell SNP Analysis Pipeline'
    nextflowVersion = '!>=23.10.0'
}

// ===================== params =====================
params {
    // input
    input               = null
    outdir              = '/mnt/vol1/lucc/work/SZ_data/1.WES/company/nf-code'
    help                = true
    version             = true

    // genome
    genome              = 'hg38'
    genomes_base        = '/mnt/vol1/database/ucsc/ref'

    genomes {
        'hg38' {
            fasta           = "${params.genomes_base}/${params.genome}/${params.genome}.fa"
            fasta_fai       = "${params.genomes_base}/${params.genome}/${params.genome}.fa.fai"
            fasta_dict      = "${params.genomes_base}/${params.genome}/${params.genome}.dict"
        }
    }

    // known_sites
    phase1_1000G            = "/mnt/vol1/database/gatk/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
    dbsnp_146               = "/mnt/vol1/database/gatk/dbsnp_146.hg38.vcf.gz"
    omni_1000G              = "/mnt/vol1/database/gatk/1000G_omni2.5.hg38.vcf.gz"
    hapmap                  = "/mnt/vol1/database/gatk/hapmap_3.3.hg38.vcf.gz"
    indels_1000G            = "/mnt/vol1/database/gatk/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"

    // annotating VCF 
    dbSNP                   ="/mnt/vol1/database/dbSNP/GCF_000001405.40.gz"
    freq                    ="/mnt/vol1/database/dbSNP/freq.vcf.gz"
    clinvar                 ="/mnt/vol1/database/clinvar/clinvar_20260503.vcf.gz"
    snpsift_merge_ann_dbfile = ""

    // ===================== FASTP  =====================
    //    fastp_adapter_fasta     = null
    //    fastp_discard_trimmed   = false
    //    fastp_save_trimmed_fail = true
    //    fastp_save_merged       = false
    //    skip_fastp              = false

    dragmap_hash = "/mnt/vol1/database/ucsc/ref/hg38/dragen/"

    probe_bed = "/mnt/vol1/database/ajtk/loci-gene.bed"

    step                = 'all'

    // ================= snpeff =================
    download_cache = true
    force_download_cache = false
    snpeff_cache = "/mnt/vol1/database/SnpEff2"
    snpeff_db = "GRCh38.99"
}


// ===================== run =====================
profiles {
    // 
    local {
        process.executor = 'local'
    }

    // Docker 
    docker {
        docker.enabled         = true
        docker.userOwnership   = true
        docker.runOptions      = '--user root -v /mnt/:/mnt/'
        docker.cliPath         = '/usr/bin/sudo /usr/bin/docker'
        apptainer.enabled      = false
    }

    // Singularity 
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

// ===================== log =====================
trace {
    enabled = true
    ansiLog = true
    overwrite = true
}

nextflow {
    colorLog = true
    coloredLog = true
}

// 
process {
    // 
    cpus = 4
    memory = '8 GB'

    // 
    withLabel: 'process_high' {
        cpus = 24
        memory = '60 GB'
        maxForks = 4
    }

    // 
    withLabel: 'process_medium' {
        cpus = 8
        memory = '16 GB'
        maxForks = 10
    }

    // 
    withLabel: 'process_low' {
        cpus = 2
        memory = '4 GB'
        maxForks = 20
    }

    // ================= gatk =================
    withName: 'VariantRecalibrator_SNP' {
            ext.args = ("-an DP -an QD -an FS -an SOR -an ReadPosRankSum -an MQRankSum --max-gaussians 6")
    }

    withName: 'VariantRecalibrator_INDEL' {
             ext.args = ("-an DP  -an QD -an FS -an SOR  -an ReadPosRankSum  -an MQRankSum --max-gaussians 4 -tranche 100.0 -tranche 99.9 -tranche 95.0 -tranche 90.0")
    }

    // =================  SnpSift filter =================
    withName: 'SNPSIFT_FILTER' {
            ext.args = "'(DP>=10)&(FILTER='\\''PASS'\\'')&(QUAL>=20)'"
    }

    withName: SNPEFF_DOWNLOAD {
        // 这里的 containerOptions 会和全局的 runOptions 合并
        // 比如你想把宿主机的 /your/host/cache 挂载到容器内的 /data
        containerOptions = '-v /mnt/vol1/database/SnpEff2/:/data/ -v /mnt/vol1/database/SnpEff2/:/tmp/'
    }
    withName: SNPEFF_SNPEFF {
        containerOptions = '-v /mnt/vol1/database/SnpEff2/:/data/ -v /mnt/vol1/database/SnpEff2/:/tmp/'
    }
}

// 
executor {
    name = 'local'
    cpus = 104           
    memory = '370 GB'    
    queueSize = 20      
}